{% extends 'base.html.twig' %}

{% block title %}Genealogist{% endblock %}

{% block body %}
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <h1 class="display-4 mb-4">
                    Une nouvelle façon de visualiser son arbre généalogique.
                </h1>
                <p class="lead">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur rerum iste similique sequi quis 
                    provident temporibus cupiditate, quae delectus numquam? Ullam enim facere, molestiae quis accusamus 
                    natus aspernatur voluptatibus atque!
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
