.git
.gitignore
.DS_Store

vendor/
var/
node_modules/
coverage/

.idea/
.vscode/

docker-compose.override.yml
docker-compose*.override.yml

phpunit.xml
.phpunit.result.cache
.php-cs-fixer.cache

public/bundles/
public/assets/
public/pictures/

.env.local
.env.*.local
