{% from "_includes/macro.html.twig" import alert %}
{% set flashes = app.flashes %}
{% if flashes|length %}
    <div class="container my-3">
        {% for label, messages in flashes %}
            {% for message in messages %}
                {{ alert(label, message, true) }}
            {% endfor %}
        {% endfor %}
    </div>
{% endif %}