.section {
  color: $secondary;
  border-bottom: $border-width solid $border-color;
  margin-bottom: $spacer;
}

.member-list-item {
  display: block;
  padding: calc($spacer / 2) $spacer;
  color: $dark;
  text-decoration: none !important;
  border-top: $border-width solid transparent;

  .chevron {
    display: none;
  }

  &.active, &:hover {
    background-color: $gray-200;
  }

  &:hover .chevron {
    display: block;
  }

  &:hover + &.active {
    border-top: $border-width solid $border-color !important;
  }

  &.active + &:hover {
    border-top: $border-width solid $border-color !important;
  }
}