#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow: hidden;
}

#container, .flex-scroll {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  max-height: 100%;
  overflow-y: auto;

  &.row {
    flex-direction: row;
    max-width: 100%;
  }
}

.col-scroll {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  transform: translateZ(0);
}

.col-sidebar {
  @include media-breakpoint-up('sm') {
    border-right: $border-width solid $border-color;
  }
}