.tree-list-item {
  background-color: white;
  border: $border-width solid $border-color;
  border-radius: $border-radius;
  display: block;
  height: 100%;
  padding: $spacer;
  cursor: pointer;
  transition: box-shadow ease-out 400ms;
  text-decoration: none !important;

  &.tree-list-item-placeholder {
    font-size: $spacer * 3;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $primary;
  }

  &:hover {
    @extend .shadow;
  }

  .dropdown-toggle {
    position: relative;
    top: - calc($spacer / 2);
    right: - calc($spacer / 2);
  }
}