$body-bg: var(--light);

@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';

@import 'layout.scss';
@import 'trees.scss';
@import 'content.scss';

.form-full-page {
    max-width: 25rem;
    margin-right: auto;
    margin-left: auto;
}