{% extends 'base.html.twig' %}

{% block title %}Edit Person{% endblock %}

{% block body %}
<section class="py-5">
    <div class="container">
        <h1 class="mb-3">Modifier une personne</h1>

        <section id="profile" class="row gx-4 gy-3 mb-3">
            {% if person.portrait %}
                <div class="col-8 col-sm-6 col-md-3">
                    <img src="/pictures/{{ person.portrait }}" alt="Person profile picture" class="img-fluid rounded-5">
                </div>
            {% endif %}

            <div class="col-12 col-md">
                {{ include('person/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
            </div>
        </section>

        <hr class="my-4">

        <section id="unions">
            <h2 class="mb-3">Unions</h2>

            <div class="row g-3">
                {% for union in person.unions %}
                    <div class="col-auto">
                        <div class="union">
                            <div class="union-body">
                                <a href="{{ path('app_union_edit', { id: union.id, personId: person.id }) }}" class="stretched-link">
                                    <i class="fa-solid fa-rings-wedding"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                
                <div class="col-auto">
                    <div class="union union-new">
                        <a href="{{ path('app_union_new', { personId: person.id }) }}" class="stretched-link">
                            <i class="fa-solid fa-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
{% endblock %}
