{% extends 'base.html.twig' %}

{% block title %}New Person{% endblock %}

{% block body %}
{{ include('_includes/main/flashes.html.twig') }}

<section class="my-4">
    <div class="container">
        <h1>Ajouter un membre</h1>

        {{ include('person/_form.html.twig') }}
    </div>
</section>
{% endblock %}
