.form-small {
    max-width: 20rem;
}

.form-medium {
    max-width: 30rem;
}

.form-large {
    max-width: 40rem;
}

.form-small,
.form-medium,
.form-large {
    margin-left: auto;
    margin-right: auto;
}

.table-responsive > .table tr:last-child > td {
    border-bottom: none;
}

.no-caret::after {
    content: none !important;
}

.tree-member-item:hover {
    background-color: var(--bs-tertiary-bg);
}

.union {
    --size: 8rem;

    height: var(--size);
    width: var(--size);
    border: dashed 3px var(--bs-primary);
    border-radius: var(--size);
    position: relative;
    overflow: hidden;
}

.union:hover {
    border-color: rgb(var(--bs-link-hover-color-rgb));
}

.union.union-new,
.union .union-body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}

.union-body {
    height: 100%;
}

.union-image {
    height: 100%;
    object-fit: cover;
}

.avatar {
    background-color: rgb(var(--bs-body-bg-rgb));
    border-radius: var(--bs-border-radius-pill);
    padding: .25rem .5rem .25rem .25rem;
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
    position: relative;
    box-shadow: var(--bs-box-shadow-sm);
}

.avatar.avatar-actions {
    padding-right: .25rem;
}

.avatar-thumbnail {
    --thumbnail-size: 3rem;

    height: var(--thumbnail-size);
    width: var(--thumbnail-size);
    border-radius: var(--bs-border-radius-pill);
    overflow: hidden;
}

.avatar-thumbnail > img {
    object-fit: contain;
    height: 100%;
}

.avatar-placeholder {
    height: 100%;
    aspect-ratio: 1;
    background-color: var(--bs-secondary);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}