{{ form_start(form) }}
    <div class="input-group mb-1 flex-nowrap">
        {{ form_row(form.name, { 
            label: false, 
            attr: {
                class: 'form-control rounded-0 rounded-start',
                value: form.name.vars.data,
            }, 
            row_attr: { class: 'mb-0 flex-grow-1' },
        }) }}
        <a href="{{ path('app_tree_members_add', { id: tree.id }) }}" class="btn btn-outline-secondary">
            <i class="fa-solid fa-plus"></i>
        </a>
        <button type="submit" class="btn btn-outline-secondary">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </div>
{{ form_end(form) }}