{% extends 'base.html.twig' %}

{% block title %}Modifier l'arbre{% endblock %}

{% block body %}
{{ include('_includes/main/flashes.html.twig') }}

<section class="my-4">
    <div class="container">
        <div class="form-medium">
            <h1>Modifier l'arbre</h1>

            {{ include('tree/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
        </div>
    </div>
</section>
{% endblock %}
