{% extends 'base.html.twig' %}

{% block title %}{{ 'title.rename_tree'|trans({ name: tree.name }) }}{% endblock %}

{% block body %}
{{ include('_includes/main/flashes.html.twig') }}

<section class="my-4">
    <div class="container">
        <div class="form-medium">
            <h1>{{ 'title.rename_tree'|trans({ name: tree.name }) }}</h1>

            {{ include('tree/_form.html.twig', { button_label: 'action.update'|trans }) }}
        </div>
    </div>
</section>
{% endblock %}
