{% extends 'base.html.twig' %}

{% block title %}New Tree{% endblock %}

{% block body %}
    <h1>Create new Tree</h1>

    {{ include('tree/_form.html.twig') }}

    <a href="{{ path('app_tree_index') }}">back to list</a>
{% endblock %}
