{% set link = link|default(false) %}

<div class="row g-0 flex-column-reverse aling-items-center justify-content-center flex-nowrap">
    {% if link %}
        <div class="col-auto">
            <div class="tree-link tree-link-{{ direction }} m{{ direction == 'start' ? 'e':'s' }}-auto"></div>
        </div>
    {% endif %}

    <div class="col-auto d-flex align-items-center justify-content-center flex-nowrap">
        {{ include('person/_avatar.html.twig', { person: person }) }}
    </div>

    {% if person.parentUnion is not null %}
        <div class="col-auto d-flex justify-content-center">
            <div class="tree-link tree-link-center"></div>
        </div>

        <div class="col-auto">
            <div class="row g-0 align-items-end justify-content-around flex-nowrap">
                {% for parent in person.parentUnion.people %}
                    <div class="col">
                        {{ include('tree/tree.html.twig', { person: parent, link: true, direction: loop.index0 ? 'start':'end' }) }}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
</div>