<form method="post" action="{{ path('app_union_remove_child', { id: union.id, personId: from.id, childId: child.id }) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ child.id) }}">
    <button class="dropdown-item text-danger">
        <i class="fa-solid fa-fw fa-trash"></i>
        Supprimer
    </button>
</form>
