<form 
    method="post" 
    action="{{ path('app_union_delete', {'id': union.id}) }}" 
    onsubmit="return confirm('{{ 'alert.confirm_delete_union'|trans }}');"
>
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ union.id) }}">
    <button class="btn btn-danger rounded-pill">
        <i class="fa-solid fa-trash"></i>
    </button>
</form>
