{{ form_start(form, { action: path('app_union_add_' ~ type|default('partner'), { personId: person.id, id: union.id }) }) }}
    <div class="mb-3">
        <div class="row g-2">
            <div class="col">
                {{ form_row(form.person, { label: false }) }}
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">
                    Ajouter
                </button>
            </div>
        </div>
    </div>
{{ form_end(form) }}