{% extends 'base.html.twig' %}

{% block title %}{{ 'title.create_union_for'|trans({ name: person.fullName }) }}{% endblock %}

{% block body %}
<section class="py-5">
    <div class="container">
        <h1>{{ 'title.create_union_for'|trans({ name: person.fullName }) }}</h1>

        <div class="alert alert-primary">
            <div class="row g-3">
                <div class="col-auto">
                    <i class="fa-solid fa-info-circle"></i>
                </div>
                <div class="col">
                    {{ 'alert.add_union_members_later'|trans }}
                </div>
            </div>
        </div>

        {{ include('union/_form.html.twig') }}
    </div>
</section>
{% endblock %}
