{% extends 'base.html.twig' %}

{% block title %}{{ 'nav.profile'|trans }}{% endblock %}

{% block body %}
<section class="py-5">
    <div class="container">
        <div class="form-medium">
            <h1>{{ 'profile.my_information'|trans }}</h1>

            {{ include('user/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
        </div>
    </div>
</section>
{% endblock %}
